.dialogs {
    display: grid;
    grid-template-columns: 1fr 1fr 18fr;
}

.item {
    margin-bottom: 40px;
}

.dialogsItems {
    padding-top: 10px;
    color: white;
}

.dialogsItems .active {
    color: gold;
}

.messages {
    padding: 10px;
}

messages .message {

}

.avatars {

}